.dp-highlighter
{
	font-family: "Menlo", "Monaco", "BitStream Vera Sans Mono", "Consolas", "Courier New", Courier, mono, serif;
	font-size: 12px;
	background-color: #c2dcdf;
	width: 70%;
	overflow: auto;
	margin: 18px 0 18px 0 !important;
	padding: 4px;
}

.dp-highlighter ol,
.dp-highlighter ol li,
.dp-highlighter ol li span 
{
	margin: 0;
	padding: 0;
	border: none;
}

.dp-highlighter a,
.dp-highlighter a:hover
{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.dp-highlighter .bar
{
	padding-left: 45px;
}

.dp-highlighter.collapsed .bar,
.dp-highlighter.nogutter .bar
{
	padding-left: 0px;
}

.dp-highlighter ol
{
	list-style: decimal;
	background-color: #fff;
	margin: 0px 0px 1px 45px !important;
	padding: 0px;
	color: #5C5C5C;
}

.dp-highlighter.nogutter ol,
.dp-highlighter.nogutter ol li
{
	list-style: none !important;
	margin-left: 0px !important;
}

.dp-highlighter ol li,
.dp-highlighter .columns div
{
	list-style: decimal-leading-zero;
	list-style-position: outside !important;
	border-left: 3px solid #6CE26C;
	background-color: #0A263F;
	color: #FFF;
	padding: 0 3px 0 10px !important;
	margin: 0 !important;
	line-height: 14px;
}

.dp-highlighter.nogutter ol li,
.dp-highlighter.nogutter .columns div
{
	border: 0;
}

.dp-highlighter .columns
{
	background-color: #0A263F;
	color: white;
	overflow: hidden;
	width: 100%;
}

.dp-highlighter .columns div
{
	padding-bottom: 5px;
}

.dp-highlighter ol li.alt
{
	background-color: #0A263F;
	color: inherit;
}

.dp-highlighter ol li span
{
	color: #FFF;
	background-color: inherit;
}

.dp-highlighter.collapsed ol
{
	margin: 0px;
}

.dp-highlighter.collapsed ol li
{
	display: none;
}

.dp-highlighter.printing
{
	border: none;
}

.dp-highlighter.printing .tools
{
	display: none !important;
}

.dp-highlighter.printing li
{
	display: list-item !important;
}

.dp-highlighter .tools
{
	padding: 3px 8px 3px 10px;
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
	background-color: #f8f8f8;
	padding-bottom: 10px;
	border-left: 3px solid #6CE26C;
}

.dp-highlighter.nogutter .tools
{
	border-left: 0;
}

.dp-highlighter.collapsed .tools
{
	border-bottom: 0;
}

.dp-highlighter .tools a
{
	font-size: 9px;
	color: #a0a0a0;
	background-color: inherit;
	text-decoration: none;
	margin-right: 10px;
}

.dp-highlighter .tools a:hover
{
	color: red;
	background-color: inherit;
	text-decoration: underline;
}

.dp-about { background-color: #fff; color: #333; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
.dp-about .title { color: red; background-color: inherit; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #ECEADB; color: #333; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: #ECEADB; color: #333; width: 60px; height: 22px; }

.dp-highlighter .comment, .dp-highlighter .comments { color: #09F; background-color: inherit; }
.dp-highlighter .string { color: #3C0; background-color: inherit; }
.dp-highlighter .keyword { color: #F90; font-weight: bold; background-color: inherit; }
.dp-highlighter .preprocessor { color: #CCC; background-color: inherit; }
.dp-css .value { color: #EEE !important; }

.codeFilePath{ font: bold 1em "Menlo", "Monaco", "BitStream Vera Sans Mono", "Consolas", "Courier New"; text-align: right; margin-bottom: -18px; margin-right: -7px; margin-left: 300px; background-color: #CCC; padding: 2px 4px; border-color: #006; border-width: 1px 1px 0 1px; border-style: solid; }

pre.erb { background-color: #300; color: #EEE; padding: 4px 8px; margin-right: -7px; margin-top: 18px; }

code.terminal, pre.terminal, pre.html { font-weight: normal; font-size: 1em; white-space: pre; display: block; background-color: #000; color: #FFF; padding: 4px 16px; overflow-x: scroll; }
pre.terminal span.passed { color: #0F0; }
pre.terminal span.failed { color: #F00; }
pre.terminal span.info { color: #00F; }
pre.terminal span.forced { color: #FF0; }
pre.terminal span.url { color: #0FF; }

div.dp-highlighter { margin-bottom: 0 !important; padding: 8px; }
code.terminal + div.dp-highlighter { position: relative; top: -12px; }
p.title { margin: 2px 0 24px; text-align: center; font-weight: bold; font-style: italic; font-family: Georgia; }
ol.footnotes { list-style-type: decimal; list-style-position: inside; }
div.episodeLinks { padding: 8px 0 0; clear: both; }
div.episodeLinks a { margin-right: 32px; }  

pre.cucumber_definition { background-color: #0A263F; color: #6C6; font-weight: normal; padding: 4px; font-size: 1em; }
pre.cucumber_definition span { color: #CC6600; }
pre.cucumber_definition span.data { color: #FFF; }
pre.cucumber span.undefined { color: #FF0; }
pre.cucumber span.skipped { color: #0FF; }
pre.cucumber span.failed { color: #F00; }
pre.cucumber span.passed { color: #0F0; }